.product-list-container{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    place-items: center;
    row-gap: 10px;
    position: absolute;
    top: 75%;   
    row-gap: 5%; 
}