.home-central-section-container {
    width: 100%;
    min-height: 100vh;
    background-image: url(../../../public/img/common/home-central-image.png);
    display: flex;
    color: #ffffff;
    padding-top: 8%;
}

.home-h1-container,
.home-central-img-container {
    flex: 1;
}

.home-h1-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-left: 15%;
}

.home-h1-container h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
    text-align: left;
    min-width: 550px;
}

.home-text-color-1 {
    color: #00ADB5;
}

.home-text-color-2 {
    color: #4FC3F7;
}

.home-central-section-container p {
    font-size: 1.2rem;
    color: #E0E0E0;
    max-width: 550px;
    line-height: 1.5;
}

.home-central-img-container img {
    width: 50%;
}


/* -------------------------------------------------------------------------- */
/*                               Medias Queries                               */
/* -------------------------------------------------------------------------- */

@media (min-width: 1200px) and (max-width: 1399px) {
    .home-h1-container {
        padding-left: 15%;
    }

    .home-central-img-container img {
        padding-top: 5%;
        width: 70%;
    }
}

@media (max-width: 1199px) {
    .home-central-section-container {
        flex-direction: column;
        align-items: center;
        min-height: 100vh;
    }

    .home-h1-container,
    .home-central-img-container {
        padding: 0;
        flex: 0;
    }

    .home-central-img-container {
        display: flex;
        justify-content: center;
    }

    .home-h1-container h1 {
        text-align: center;
    }

    .home-h1-container p {
        text-align: center;
    }
}

@media (max-width: 767px) {
    .home-central-section-container {
        min-height: 100vh;
    }

    .home-h1-container h1 {
        font-size: 2rem;
        text-align: center;
    }

    .home-h1-container p {
        font-size: 1rem;
    }

    .home-h1-container {
        max-width: 100%;
        align-items: center;
    }
}