.home-central-section-container{
    width: 100%;
    min-height: 100vh;
    background-image: url(../../../public/img/common/home-central-image.png);
    /* background-size: cover; */
    /* background-attachment: fixed; */
}