header {
    width: 100%;
    display: flex;
    background-color: #0B1E3A;
}


.header-logo-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-logo-container img {
    height: 70px;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav {
    flex: 3;
    display: flex;
    color: white;
    font-weight: bold;
}

nav ul {
    width: 100%;
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    column-gap: 5%;
    list-style: none;
}

nav ul a {
    text-decoration: none;
    color: inherit;
}


.header-aux-container {
    flex: 1;
    display: flex;
}

.header-login-button-container,
.header-cart-button-container {
    flex: 1;
    display: flex;
    align-items: center;
}

.header-login-button-container{
    justify-content: flex-end;
    padding-right: 10px;
}

.header-cart-button-container{
    justify-content: flex-start;
    padding-left: 10px;
}

header button {
    width: 70%;
    background-color: transparent;
    border: 2px solid #00ADB5;
    color: #00ADB5;
    border-radius: 6px;
    padding: 0.4rem 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

header button:hover {
    background-color: #00ADB5;
    color: #0B1E3A;
    box-shadow: 0 0 10px rgba(0, 173, 181, 0.4);
}